@model ContratacaoNutricionistasWEB.Models.Agenda.AgendaListaContratoVM

@{
    ViewData["Title"] = "Agende sua consulta";
}

<div class="col-md-12">
    <h4>@ViewData["Title"]</h4>
    <hr />
</div>

<div class="">
    @if (ViewData[Constantes.ViewDataMensagemErro] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>
                @ViewData[Constantes.ViewDataMensagemErro].ToString()
            </span>
        </div>
    }
    <form asp-action="ContratarNutricionista" asp-controller="Contrato">
        <input hidden asp-for="DataInicio" />
        <input hidden asp-for="DataFim" />
        <input hidden asp-for="Endereco.Bairro" />
        <input hidden asp-for="Endereco.CEP" />
        <input hidden asp-for="Endereco.Cidade" />
        <input hidden asp-for="Endereco.Complemento" />
        <input hidden asp-for="Endereco.Logradouro" />
        <input hidden asp-for="Endereco.Numero" />
        <input hidden asp-for="Endereco.UF" />
        <input hidden asp-for="IdAgenda" />
        <input hidden asp-for="IdUsuario" />

        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6">
                @Html.LabelFor(modelItem => modelItem.DataInicio)
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                @Html.LabelFor(modelItem => modelItem.DataFim)
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                @Html.LabelFor(modelItem => modelItem.DataInicio, Model.DataInicio.ToString(Constantes.MascaraDataHora), new { @class = "label-celular-dados" })
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                @Html.LabelFor(modelItem => modelItem.DataFim, Model.DataFim.ToString(Constantes.MascaraDataHora), new { @class = "label-celular-dados" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Label("", "Endereço")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(modelItem => modelItem.Endereco.EnderecoCompleto, new { @class = "label-celular-dados" })

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                @Html.LabelFor(modelItem => modelItem.Endereco.CEP)
            </div>
            <div class="col-md-6 col-xs-6">
                @Html.LabelFor(modelItem => modelItem.Endereco.UF)
            </div>
            <div class="col-md-6 col-xs-6">
                @Html.DisplayFor(modelItem => modelItem.Endereco.CEP, new { @class = "label-celular-dados" })
            </div>
            <div class="col-md-6 col-xs-6">
                @Html.DisplayFor(modelItem => modelItem.Endereco.UF, new { @class = "label-celular-dados" })
            </div>
        </div>
        <div class="form-group row">
            <br />
            <div class="col m12">
                <input id="btnCadastrar" type="submit" value="Contratar" class="btn btn-primary form-control" />
            </div>
        </div>
    </form>
</div>
<div class="col-md-12">
    <a asp-action="Index" asp-controller="Home">Voltar para página inicial</a>
</div>
