@model IEnumerable<ContratacaoNutricionistasWEB.Models.Nutricionista.EnderecoAlteracaoVM>

@{
    ViewData["Title"] = "Endereços cadastrados";
}

<h4>@ViewData["Title"]</h4>
<hr />

@if (ViewData[Constantes.ViewDataMensagemErro] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 alert alert-danger">
                <span>
                    @ViewData[Constantes.ViewDataMensagemErro].ToString()
                </span>
            </div>
        </div>
    </div>
}

@if (ViewData[Constantes.ViewDataMensagemRetorno] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 alert alert-success">
                <span>
                    @ViewData[Constantes.ViewDataMensagemRetorno].ToString()
                </span>
            </div>
        </div>
    </div>
}

<div class="col-md-12">
    <p>
        <a class="btn btn-success" asp-action="CadastrarEndereco" asp-controller="Nutricionista">Novo Endereço</a>
    </p>
    @{
        if (Model.Any())
        {
            @foreach (var item in Model)
            {

                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("", "Endereço")
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(modelItem => item.Logradouro, item.EnderecoCompleto, new { @class = "label-celular-dados" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-2 col-sm-2">
                        @Html.LabelFor(modelItem => item.CEP)
                    </div>
                    <div class="col-md-3 col-xs-4 col-sm-4">
                        @Html.LabelFor(modelItem => item.CEP, item.CEP.ToString(), new { @class = "label-celular-dados" })
                    </div>
                    <div class="col-md-3 col-xs-2">
                        @Html.LabelFor(modelItem => item.UF)
                    </div>
                    <div class="col-md-3">
                        @Html.DisplayFor(modelItem => item.UF, item.UF.ToString(), new { @class = "label-celular-dados" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <a asp-action="EditarEndereco" asp-controller="Nutricionista" asp-route-id="@item.ID" title="Editar endereço">
                            <i class="glyphicon glyphicon-pencil" style="font-size:20px; color:rgb(233, 127, 13)"></i>
                        </a>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <a asp-action="ExcluirEndereco" asp-controller="Nutricionista" asp-route-id="@item.ID" title="Excluir endereço">
                            <i class="glyphicon glyphicon-trash" style="font-size:20px; color:rgb(178, 47, 33)">
                            </i>
                        </a>
                    </div>
                </div>
                <hr />
            }
        }
        else
        {
            <p>
                No momento, você não possui nenhum endereço cadastrado.
            </p>
        }
    }
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Voltar para página inicial</a>
</div>
